<?xml version="1.0"?>
	<robot name="radbot">
		<link name="base_link">	
		</link>	
		
		<link name="laser">	
		</link>

		<link name="imu_link">
                </link>


		<joint name="base_link_to_laser" type="fixed">
			<parent link="base_link"/>
			<child link="laser"/>
			<origin xyz="-0.025 0.0 0.36"/>
			<axis xyz="0 0 0"/>
		</joint>	

  		<joint name="imu_joint" type="fixed">
    			<axis xyz="0 0 0"/> 
    			<origin xyz="-0.175 0.08 0.142" />
    			<parent link="base_link"/>
    			<child link="imu_link"/>
  		</joint>			

		
	</robot>
